.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav--color-black {
  background-color: #111;
}
.nav__logo {
  position: fixed;
  left: 40px;
  top: 20px;
  width: 90px;
  object-fit: contain;
}
.nav__right-items {
  display: flex;
  position: fixed;
  right: 40px;
}
.search {
  display: flex;
  margin-right: 20px;
}
.search__search-icon {
  margin-right: 10px;
  padding: 1px 6px;
  color: white;
  cursor: pointer;
}
.search__searchbar {
  /* position: fixed;
  left: 50%;
  transform: translateX(-50%); */
  display: none;
  font-size: 16px;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.58);
  border: none;
  border-radius: 5px;
  color: white;
}
.search__bar--focused {
  display: block;
  animation-name: getLonger;
  animation-duration: 1s;
}
.nav__avatar {
  width: 30px;
  object-fit: contain;
}

@keyframes getLonger {
  from {
    width: 10%;
  }
  to {
    width: 100%;
  }
}